<li *ngIf="pokemon" class="mb-3 shadow bg-slate-50 rounded relative">
    <app-collect-button [pokemonName]="pokemon"></app-collect-button>
    <section class="p-4">
    <!--    <img [src]="pokemon.image" [alt]="pokemon.name" class="block w-72"/> -->
    </section>
    <section class="p-4">
        <span class="text-2xl">{{ pokemon }} </span>
        
    </section>
    
</li> 