<header class="container mx-auto p-4">
  <h1 class="text-3xl text-white">Welcome, </h1>
</header>
<main class="container mx-auto p-4">
<h2 class="text-xl text-white">Your collection</h2>
<app-pokemon-list [pokemon]="pokemon"></app-pokemon-list>
</main>
